<div class="daily-goal">
  <div class="row">

    <!-- showing goal -->

    <div class="col-xs-12 col-sm-6">   <!-- goal title -->   
      {{goal.title}}                
    </div>

    <div class="col-xs-12 col-sm-6">   <!-- list goal actions -->
     
      <ul class="daily-action">

        {{#each activity in activities}}
          {{#if activity.createdAt}}
            <li>
              {{activity.body}} <span class="pull-right">{{format-hour activity.createdAt}}</span>
            </li>
          {{else}}
            {{!-- only current day can add actions --}}
            {{!-- day.isToday is hidden in this scope --}} 
            {{#if activity.dailyGoal.day.isToday}} 
              {{#if activity.dailyGoal.isActive}}            
                {{#unless isAddingActivity}} 
                  <li>
                    <button type="button" class="btn btn-success btn-sm" 
                      {{action 'addingActivity' activity target="view"}}>
                      Next Action: {{format-hour-next activity.actionAt}} 
                    </button>
                  </li>
                {{/unless}}         
              {{/if}} {{!-- isActive --}}
            {{/if}} {{!-- isToday --}} 
          {{/if}}         
        {{/each}} 
          
      </ul>

      {{#if isAddingActivity}} 
        <div class="well">              <!-- adding action well-->
          <div class="row">

            <div class="col-xs-10">
              {{input placeholder="New action..." class="form-control" value=newActivity.body}} 
            </div>

            <div class="col-xs-2">    
              <button type="button" class="btn btn-success btn-sm pull-right" 
                {{action 'addActivity' newActivity target="view"}}>
                <span class="glyphicon glyphicon-ok"></span>
              </button>
            </div>

          </div><!--/row-->
        </div><!--/well-->
      {{/if}}  
   </div>

  </div>  
</div>