
<!-- showing -->

<div class="col-xs-9">
  {{#if isCompleted}}&#x2713;{{/if}} 
  <a {{action 'updatingGoal' this}}>{{title}}</a>
</div>

<div class="col-xs-3 text-right">
  {{#if isInvested}}    
    ${{investment}}
  {{else}}
    <button type="button" class="btn btn-success btn-sm pull-right" 
      {{action 'investGoal' this}}>
      <span class="glyphicon glyphicon-flag"></span> Start
    </button>
  {{/if}}  
</div>

