 <!-- Modal -->
{{#modal-dialog}}

  <div class="modal-header">           
    <h2>Editing</h2>
  </div> 

  <div class="modal-body ">

    <div class="form">  
      <div class="form-group">
        {{input value=title class="form-control"}}
      </div>

      <div class="text-right">
        <button type="button" class="btn btn-warning btn-sm" 
          {{action 'cancel'}}>
          <span class="glyphicon glyphicon-ban-circle"></span> Cancel
        </button> &nbsp;

        <button type="button" class="btn btn-success btn-sm" 
          {{action 'update'}}>
          <span class="glyphicon glyphicon-ok"></span> Save
        </button> 
      </div> 
    </div><!--/well-->

  </div> <!--/modal-body-->

  {{#if isInvested}} 
    <div class="modal-footer">
      {{#if isConfirmingComplete}}   

        <h2>Complete this goal?</h2>
        <br />
        
        <button type="button" 
          class="btn btn-primary" 
          {{action 'nevermind'}}>
          <span class="glyphicon glyphicon-ban-circle"></span> Nevermind 
        </button> 

        <button type="button" 
          class="btn btn-danger" 
          {{action 'complete'}}>
          <span class="glyphicon glyphicon-ok"></span> Yes 
        </button> 

      {{else}}      
        <button type="button" class="btn btn-danger btn-sm" 
          {{action 'confirmingComplete'}}>
          <span class="glyphicon glyphicon-stop"></span>  Complete
        </button>
      {{/if}}
    </div>
  {{/if}}
{{/modal-dialog}}