<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">    
  <div class="row md-title">
    <div class="col-xs-11">            
      <h2>
        {{title}}
      </h2>
    </div>
    <div class="col-xs-1 button-cell">
      <h2>
        <button type="button" 
          class="btn btn-default btn-xs btn-clear pull-right"         
          {{action 'updatingNote' this}}>
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
      </h2>     
    </div>
  </div><!--/row-->

  <h3>
    {{#if tag}}
      #{{tag}}
    {{/if}}
  </h3>

  <h4>
    {{format-datetime createdAt}}
  </h4>

  <div class="md">            
    {{format-markdown body}}
  </div>
</div>

